.contact {
    display: flex;
    text-align: left;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
}
.columna-contacto {
    width: 50%;
}

.contact {
    margin: 300px 100px 150px;
}
.p-descripcion-contacto {
    font-weight: normal;
    padding: 0 25% 5% 0;
    text-align: left;
}

.contact-social-link:hover {
color: #f77de0;
}

.contact-social-link:hover .contact-social-icon{
background-color: #f77de0;
color: #fff;
padding: 1.5%;
}

.contact-social-link {
display: flex;
align-items: center;
padding: 10px 10px;
border-radius: 100px;
transition: 0.2s;
color: #2e2e31;
}

.contact-social-icon {
display: block;
width: 2.2rem;
height: 2.2rem;
background-color: #fff;
color: #f77de0;
border-radius: 50%;
font-size: 1.2rem;
line-height: 2.2rem;
margin-right: 10px;
text-align: center;
transition: 0.2s;
}

.div-formulario {
display: flex;
}

.form-control {
margin-bottom: 15px;
flex-grow: 1;
position: relative;
}

.div-formulario .form-control:nth-of-type(1) {
margin-right: 10px;
}

.div-formulario .form-control:nth-of-type(2) {
margin-left: 10px;
}

label {
margin-bottom: 10px;
display: block;
font-weight: 600;
margin-top: 5px;
}

input:valid:focus,
textarea:valid:focus {
box-shadow: 0px 0px 5px #88c459;
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
box-shadow: 0px 0px 5px #f5414f;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
border: 1px solid #fc5765;
}

input:valid,
textarea:valid {
border: 1px solid #91c967;
}

.icon-invalid,
.icon-valid {
    display: none !important;
}

input,
textarea {
  border: 0;
  border-radius: 20px;
  background-color: #f6f7fb;
  border: 1px solid #f3efef;
  font-size: var(--text-sm);
  padding: 10px 15px;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.2s;
}

button {
    border: 0;
    background-color: #f77de0;
    border-radius: 30px;
    font-size: 1em;
    color:white;
    cursor: pointer;
    padding: 3% 7%;
  }
  .button:hover {
    background-color: #fab2ed;
  }