/* esto es un estilo general, no del header
deberia estar en un archivo para estilos generales */

*{
    box-sizing: border-box;
}


.right-shadow{
   box-shadow: 10px 0 30px rgb(189, 185, 185); 
}

header {
    width: 100vw;
    height: 15vh;
    position: fixed;
    /* cuando es 0, no ponemos nada mas: "top: 0" */
    top: 0%;
    /* innecesario, es el color de fondo x defecto */
    background-color: white;
    z-index: 1;
    
}


hr {
    border: 0; 
    height: 0; 
    box-shadow: 0 1px 20px 1px rgb(240, 186, 228);
}

/* es un estilo general, no solo del header */
li{
    list-style: none;
    
}
.a-header{
    text-decoration: none;
    color: black;
}
/* es un estilo general, no solo del header */
ul{
    padding-right: 10em;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
}
.nav-li {
    padding: 0.6em;
}

.nav-link{
    line-height: 2.5;
}
.nav-link:hover {
    color: #f77de0;
  }

.boton{
    text-decoration: none;
    /* no uses important, es una manera de tapar errores de tu cascada. 
    en este caso ni siquiera es necesario */
    color:white !important; 
    background-color:#f77de0;
    border-radius: 30px;
    cursor: pointer;
    padding: 10% 20%;
    line-height: 2.5;   
}
.boton:hover {
  background-color: #fab2ed;
}

@media ( max-width: 650px) {
    nav{
        display: none;
    } 
    header{
        /* innecesario */
       width: auto;
    }
}